# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.jks
*.p12
*.pem

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/
.packages
flutter_*.log
pubspec.lock
.env
.metadata

# Platform-specific (no subiremos estas carpetas)
/android/
/ios/
/linux/
/macos/
/windows/

# Build artifacts
*.apk
*.ipa
*.app
*.zip
*.rar
*.tar.gz
*.7z
*.exe
*.msi
manifest.txt
app.apks
bundletool-all-*.jar

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase
google-services.json
.firebase/
/android/app/profile
/android/app/release

# Platform-specific
android/
ios/
linux/
macos/
windows/

# Build artifacts
*.apk
*.ipa
*.app
*.zip
*.rar
*.tar.gz
*.7z
*.exe
*.msi
manifest.txt
bundletool-all-*.jar
app.apks

# Other
*.log
.metadata